:root {
  --grey-network: #969696;
  --yellow-green: #0f4ac9;
}

* {
  padding: 0%;
  margin: 0%;
  border: 0%;
  color: var(--yellow-green);
  font: "Raleway", sans-serif;
}

.box::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.bx::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.index {

  color:  var(--grey-network);
}

main {
  align-items: center;
  text-align: center;
}

.wrapper{
  width: 100%;
}

.landing-hero {
  align-items:center;
  display:inline-block;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.landing-hero button {
  margin-bottom:10px ;
}

@media only screen and (min-width: 768px) {
  .landing-hero {
    align-items:center;
    display:flex;
    margin-top: 2rem;
    margin-bottom: 20px;
  }

  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .landing-hero text{
    width: 100%;
    
  }
}
